h1 {
  text-align: center;
  margin-top: 20px;
  padding-top: 20px;
  display: block;
  font-size: 80px;
}

.container {
  max-width: 600px;
  margin-top: 0px;
  padding-bottom: 15px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #7db5ac;
  border-radius: 12px;
  font-family: Roboto, arial, sans-serif;
}

.currentWeatherContainer {
  max-width: 300px;
  margin: 35px auto;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  text-align: center;
  display: block;
  padding-top: 25px;
  padding-bottom: 20px;
}

.row-forecast {
  display: inline-block;
  padding: 25px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  width: 105px;
}

.daysContainer {
  text-align: center;
}

.todays-high-low {
  color: white;
  margin-inline-start: 25%;
  margin-inline-end: 25%;
  text-align: center;
  font-size: 15px;
}
.weather-forecast-date {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.weather-forecast-emoji {
  color: #fff;
  text-align: center;
  font-size: 25px;
}

.weather-forecast-high {
  color: #fff;
  text-align: center;
}

.weather-forecast-low {
  color: #fff;
  text-align: center;
}

.current-location-date-time {
  text-align: left;
  color: white;
  font-size: 15px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
}

.footer {
  margin-top: 60px;
  display: block;
  color: grey;
  text-align: center;
}
a {
  text-decoration-color: grey;
  color: grey;
}

a:hover {
  color: white;
}

.current-rain-wind {
  color: white;
  margin-inline-start: 15%;
  margin-inline-end: 15%;
  text-align: center;
  font-size: 15px;
  padding-top: 15px;
  margin-top: 30px;
}

#current-weather-description {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 5px;
  text-transform: capitalize;
}

#first-break {
  margin-inline-start: 30%;
  margin-inline-end: 30%;
  color: white;
  font-weight: bolder;
  opacity: 100%;
}

#current-location {
  float: left;
  color: #fff;
  font-size: 25px;
  margin-bottom: 0px;
  display: inline-block;
  padding-top: 15px;
}

#location-icon {
  float: left;
  color: #fff;
  font-size: 25px;
  margin-bottom: 0px;
  display: inline-block;
  padding-top: 15px;
  padding-left: 7px;
}

#location-button {
  background: none;
  border: none;
  color: white;
  text-transform: capitalize;
  margin: 0 auto;
  padding-left: 0;
}

.units:hover {
  text-decoration: underline;
  cursor: pointer;
}

.units {
  text-decoration: none;
  color: white;
  display: inline-block;
  line-height: 50px;
  vertical-align: top;
  font-size: 15px;
}

#fahrenheit-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

#current-temp {
  text-align: center;
  color: white;
  font-size: 45px;
}

.search-city {
  float: right;
  display: inline-block;
  color: white;
}

#search-city-form {
  display: inline;
}

#search-city-text {
  margin-top: 25px;
  display: inline;
  display: inline;
  margin-top: 25px;
  border: none;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 12px;
  text-align: center;
}

.search-city-button {
  background: none;
  border: none;
  display: inline;
  color: white;
}

::placeholder {
  color: white;
}

#current-high {
  width: 50%;
}

#current-low {
  width: 50%;
}

.active {
  font-weight: 700;
}
